* {
    box-sizing: border-box;
}

body {
    color: #0094B3;
    font-family: 'Open Sans', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 59px 102px 900px 102px 59px 1fr;
    grid-template-rows: 68px 746px;
    grid-template-areas: "header header header header header header header""left-gutter left-nav left-gap floor-map right-gap right-nav right-gutter";
    /*  grid-gap: 10px; */
}

.header {
    color: white;
    display: inline-flex;
    grid-template-columns: 100%;
    grid-template-rows: 100px;
    grid-area: header;
    background-image: url(../assets/tumbnails/header-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.bannerLogo {
    padding: 3px;
    width: 47px;
    height: 61px;
    background: transparent;
}

.header h1 {
    display: inline-flex;
    margin: 5px auto;
    font-family: "Trade Gothic Next LT Pro";
    font-weight: normal;
    font-size: 42px;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.84);
}

.left-gutter {
    display: grid;
    grid-area: left-gutter;
}

.parent-ul {
    display: grid;
    text-align: center;
    background: #0094B3;
    height: 550px;
    padding: 20px 0 20px 0;
    margin-top: 65px;
    grid-gap: 23px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.84);
}

a:hover svg path,
a:hover svg text,
a:hover svg rect,
a:active svg path,
a:active svg text,
a:active svg rect {
    fill: #FECB00 !important;
}

.active {
    fill: #FECB00 !important;
}

.left-nav ul li,
.right-nav ul li {
    list-style-type: none;
}

.left-nav ul li a,
.right-nav ul li a {
    display: block;
}

#left,
#right {
    width: 59px;
    margin: 0 auto;
}

.left-nav {
    display: grid;
    grid-area: left-nav;
}

.left-gap {
    display: grid;
    z-index: 1;
    background: rgba(0, 149, 179, 0.4);
    grid-gap: 0;
    height: 550px;
    padding: 20px 0 20px 0;
    margin-top: 65px;
    grid-gap: 23px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.84);
    transition: .25s;
    /*   margin-right: 102px; */
    display: none;
}


.left-gap figure {
    display: grid;
    grid-gap: 5px;
    padding: 0;
    margin: 4px;
    /* margin-right: 102px; */

}

#areas {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: UniversLTStd, Univers LT Std;
    font-size: 10px;
    line-height: 1.5em;
    text-align: center;
    color: white;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.84);
}

.box {
    width: 90px;
    height: 52px;
    display: grid;
    vertical-align: top;
    margin-top: 5px;
}

.overlay {
    position: relative;
}

.overlay:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.overlay:hover:after {
    opacity: .35;
}

.green:after {
    background-color: #BED600;
}

.modal {
    color: white;
    background-color: rgba(0, 148, 179, 0.15);
    z-index: 1000;
    padding: 0px;
    margin: 10px;
}

.modal .modal-content {
    display: grid;
    position: relative;
    background-color: #0094B3;
    vertical-align: center;
    padding: 0px;
    margin: 10px;
    margin-top: 370px;
}

#name-modal .modal {
    width: 623px;
    height: 113px;
    margin-top: 300px;
}

#date-modal .modal-content {
    width: 483px;
    height: 313px;
    margin-top: 300px;
}

#date-modal .modal-content input {
    color: #003D4C;
    margin-top: 20px;
}

.modal .btn.focus,
.modal .btn:focus,
.modal .btn:hover {
    color: #BED600;
    text-decoration: none;
}

.modal .modal-header {
    border-bottom: none;
    padding: 0px;
    margin: 5px;
}

#date-modal .modal-header {
    height: 0px;
}

.modal .modal-body {
    display: inline-block;
    padding: 0px;
    margin: 10px;
    text-align: center;
}

/* #name-modal #date-modal .modal-body {
    margin: 0 auto;
} */

#next-modal .modal-content {
    margin-top: 225px;
}

#next-modal .modal-body {
    text-align: left;
    display: grid;
    grid-template-rows: 236px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "leftSide" "rightSide"
}

#next-modal .modal-header {
    text-align: center;
}



#name-modal .modal-body input {
    color: #003D4C;
    float: right;
    width: 375px;
}

.modal .modal-footer {
    border-top: none;
    padding: 0px;
}

#date-modal .modal-footer {
    height: 0px;
    text-align: center;
}

.modal .close {
    color: white;
}

.modal .enter {
    color: white;
    background-color: #003D4C;
    width: 113px;
    height: 31px;
    border-radius: 15px;
    border: none;
    margin: 10px;
}

.yesOrNo .modal-header {
    height: 0px;
}

.yesOrNo .modal-content {
    width: 229px;
    height: 223px;
    text-align: center;
    margin: 315px auto;
}

.yesOrNo .modal-body {
    margin: 0 auto;
}

.yesOrNo .modal-content input {
    float: left;
    margin-left: 70px;
}

.yesOrNo .modal-content label {
    margin-right: 70px;
    text-align: left;
}

.yesOrNo .modal-footer {
    text-align: center;
}

.right-nav {
    display: grid;
    grid-area: right-nav;
}

.floor-map {
    display: grid;
    grid-area: floor-map;
    /* rotate: -90deg; */
}

.moveable {
    cursor: move;
}

#moveableObjects {
    position: inherit;
}

.right-gutter {
    display: grid;
    grid-area: right-gutter;
}

.moveable {
    touch-action: none;
    user-select: none;
}